.layout {
  /*display: inline-block;*/
}
#top-tables {
  height: 200px;
  border: 1px solid black;
  background-color: lightblue;
}
#top-left-space {
  height: 200px;
  background-color: grey
}
#top-right-space {
  height: 200px;
  background-color: grey
}
#left-tables {
  height: 1350px;
  border: 1px solid black;
  background-color: lightblue;
}
#middle-tables {
  height: 1000px;
  border: 1px solid black;
  background-color: lightblue;
}
#right-tables {
  height: 1350px;
  border: 1px solid black;
  background-color: lightblue;
}
#top-walk {
  height: 200px;
  background-color: papayawhip;
}
#left-walk {
  height: 1000px;
  background-color: papayawhip;
}
#right-walk {
  height: 1000px;
  background-color: papayawhip;
}
#bottom-walk {
  height: 150px;
  background-color: papayawhip;
}
#footer {
  height: 150px;
  border: 1px solid black;
  background-color: grey
}
#middle-container {
  padding: 0;
}
#main {
  text-align: center;
  margin: 0 auto;
}
.cell {
  height: 48px;
  width: 48px;
  display: inline-block;
  /*border: 1px solid black;*/
  border-radius: 50%;
  margin-bottom: -7px;
  overflow: hidden;
}
.table {
  border: 1px solid black;
  display: inline-block;
  height: 200px;
  width: 100px;
  text-align: center;
  /*background-color: gainsboro;*/
  background-image: url('../img/desktop.png');
  background-size: contain;
}
.top {
  transform: rotate(90deg);
  margin: 0 50px;
  position: relative;
  top: 25px;
}
.left {
  margin: 25px 0;
  position: relative;
  left: 75px;
}
.right {
  margin: 25px 0;
  position: relative;
}
.middle {
  margin: 40px 10px;
}
.pivot {
  transform: rotate(90deg);
  margin: -25px 75px;
}
.linkCell {
  background-image: url('../img/student.png');
  background-size: contain;
  position: relative;
}
.row01.linkCell {
  transform: rotate(180deg);
}
.column01.linkCell, .column13.linkCell {
  transform: rotate(90deg);
}
.column05.linkCell, .column17.linkCell {
  transform: rotate(270deg);
}
.person {
  max-width: 100%;
}
.north {
  transform: rotate(0deg);
}
.east {
  transform: rotate(90deg);
}
.south {
  transform: rotate(180deg);
}
.west {
  transform: rotate(270deg);
}
.overlay__container {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: #333333;
  opacity: 0.8;
  cursor: pointer;
}
.overlay__modal {
  display: none;
  width: 50%;
  background: white;
  z-index: 3;
  margin: 0 auto;
  top: 20%;
  position: fixed;
  left: 0;
  right: 0;
  padding: 1em;
  text-align: center;
  /*height: 50%;*/
  border-radius: 10px;
}
.yb__dialog {
  height: 50px;
  width: 100px;
  background: tomato;
  position: absolute;
  top: 60px;
  z-index: 3;
  text-align: center;
  line-height: 50px;
}
.yb__info-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 200px;
  background: white;
  z-index: 1;
  border: 1px solid gray;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  line-height: 200px;
}

.yb__small-info-box {
  display: none;
  position: absolute;
  width: 100px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.overlay__modal--close {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  cursor: pointer;
}

.overlay__modal--name {
  font-size: 2em;
}
